body{
    margin-top: 5px;
    background-color: lightgrey;
}

input[type="checkbox"],input[type="radio"]{
    zoom:1.5;
  margin:5px;
    
}

table,tr,td{
  
   margin:auto;
   margin-bottom:50px;
}

th,td{
    padding:20px;
    margin:10px;
   text-align: center;
}

label{
    padding-left:10px;
}