
        body{
        max-width:50%;
        border:3px solid black;
        outline-style:double; 
        padding:20px 40px;
        margin: auto;
        font-family: Arial;
        line-height:1.6;
        }
        
        #left{
        float:left;
        }
    
        #right{
       float:right;
        }
        
      .tablink {
        background-color:black;
        color:white;
        float:left;
        border: black;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        font-size: 17px;
        width: 25%;
      }
      
      .tablink:hover {
        background-color:grey;
      }

      
      .tabcontent {
        color:black;
        display: none;
        padding: 20px 20px;
        height: 100%;
        text-align: justify;
        line-height: 1.6;
        overflow: scroll;
      }

      #Professional-Summary{
              display:block;
      }
      

      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid black;
        text-align: left;
        padding: 8px;
      }
      
       /* tr:nth-child(even) {
        background-color: #dddddd;
      }  */

     
     