body{
    overflow: scroll;
}

#mainPage{
    margin:auto;
    max-width:1000px;
    border-radius: 50px;
    border:1px solid black;
    height:100%;
    display:block;
    background-color: black;
    overflow:scroll;
}

div.b {
    width: 100%;
    height: 400px;
    background-image:url('web1.jpg');
    position:absolute;
    
    top:0;
    left:0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }


div.c {
    width: 100%;
    height: 400px;
    background-image:url(grey.jpg);
    
   position:absolute;
   transform: skewY(175deg);
    top:300px;
    left:0;
   
  }
  div.d {
    width: 100%;
    height: 400px;
    background-image:url(pink.jpg);
   position:absolute;
   transform: skewY(175deg);
    top:700px;
    left:0; 
  }

  div.e {
    width: 100%;
    height: 400px;
    background-image:url('web1.jpg');
   position:absolute;
  bottom:50px;
    top:1000px;
    left:0; 
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  

 

.borderClass{
    position:relative;
   width:800px;
   top:50px;
    left:50px;
    right:50px;
    bottom:50px;
   margin:5px;
  padding:50px;
   border:1px dashed rgb(131, 44, 44);
    border-radius: 50px;
    color:white;
}

.absolutePos{
    position: absolute;
    color:white;
    padding:0px 20px;
    background-color:black;
    top:-25px;
    left:350px;
    display:inline-block;
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
}

.absolutePosB{
    position: absolute;
    padding:20px;
    font-family: 'Sofia';
    font-size: 22px;
    text-align: center;
    letter-spacing: 3px;
    
}

.absoluteC{
    position: absolute;
    top: 350px;
    padding:20px;
    color:black;
    font-family: 'Beth Ellen';
    font-size: 22px;
    text-align: center;
    letter-spacing: 3px;
    
}

.absoluteD{
    position: absolute;
    top: 750px;
    padding:20px;
    color:black;
    font-family: 'Beth Ellen';
    font-size: 22px;
    text-align: center;
    letter-spacing: 3px;
    
}
.absoluteE{
    position: absolute;
    top: 1200px;
    padding:20px;
    color:white;
    font-family: 'Beth Ellen';
    font-size: 22px;
    text-align: center;
    letter-spacing: 3px;
    
}

.capital{
    font-size: 42px;
    font-weight: bold;
    font-family: 'Sofia';
}

